<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur gossip project!</h1>
    <p>Voir la <a href="/gossips/all/">liste</a> des gossips</p>
    <p>Créer un <a href="/gossips/new/">nouveau</a> gossip</p>
  </body>
</html>