<html>
  <head>
    <title>PAGE POT</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= @x %></h1>
        <p>
          Son auteur : <%= @single[0] %><br/>
            Le contenu du potin : <%= @single[1] %>
        </p>
<p>Cliquer <a href="/gossips/all/">ici</a> pour retourner à la page des potins</p>
  </body>
</html>